
<section>
  <div style="text-align: center; width: 70%; background-color: #fcf7f2; border: 1px solid gray; padding: .5% 0%; margin: auto;">
    <h4>
      <form method="post" action="https://forms.un-static.com/forms/cc223e50a5accf1db4896bd56d35fb866379e1a8">
        <div class="form-group row">
          <label for="email" class="col-4 col-form-label" style = "color: #555555">Join my mailing list!</label>
          <div class="col-8">
            <div class="input-group" style="width: 65%; margin: auto;">
              <div class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </div>
                <input id="email" name="email" placeholder="Your e-mail address" type="text" required="required" class="form-control" >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary" style = "font-size: 12px; padding: 5px 12px; background-color: #555555; border-color: #555555;">Subscribe</button>
          </div>
        </div>
      </form>
    </h4>
  </div>
</section>