<div style="text-align: center;">
<!--    <h1>Welcome!</h1>-->
</div>
<div class="container" style = "display: flex; justify-content: center; flex-wrap: wrap; ">
    <div class="card" style="background: #fcf7f2; width: 300px; text-align: center; margin: 3% auto; border-radius: 7%;">
        <div class="card-image card-1" style = "background-image: url('img/feature/map.png');
            display: flex;
           height: 175px;
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center center;
           border-radius: 7% 7% 0 0;"
          onclick="location.href='/map';">
        </div>
      <a href="/map"><h3 style="padding-bottom: 5%;">Boba Map</h3></a>
    </div>
    <div class="card" style="background: #fcf7f2; width: 300px; text-align: center; margin: 3% auto; border-radius: 7%; ">
        <div class="card-image card-2" style = "background-image: url('img/feature/bobalytics.png');
            display: flex;
           height: 175px;
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center center;
           border-radius: 7% 7% 0 0;"
          onclick="location.href='/bobalytics';">
        </div>
      <a href="/bobalytics"><h3 style="padding-bottom: 5%;">Bobalytics</h3></a>
    </div>
    <div class="card" style="background: #fcf7f2; width: 300px; text-align: center; margin: 3% auto; border-radius: 7%; ">
        <div class="card-image card-3" style = "background-image: url('img/feature/master-menu.jpg');
            display: flex;
           height: 175px;
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center center;
           border-radius: 7% 7% 0 0;"
          onclick="location.href='/master-menu';">
        </div>
      <a href="/categories"><h3 style="padding-bottom: 5%;">Blog Categories</h3></a>
    </div>
</div>